# Ignorar carpeta de compilación de ZinjaI
debug.w32/
release.w32/

# Ignorar ejecutables de Windows y objetos
*.exe
*.o
*.obj

# Ignorar archivos temporales o de configuración local de ZinjaI/IDE
*.layout
*.depend